<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%if(user){ %>
        <section>
            <a href="/logout">Log out</a>
            <h1>Home <%=user.name %></h1>
            <%if(user.member === true){ %>
            <a href="/create">Create Post</a>
            <% } %>
            <%posts.forEach(element => { %>
                <div>
                    <a href="<%=element.url %>"><%=element.title %></a>
                    <p><%=element.message %></p>
                    <span><%=element.date_formatted %></span>
                    <span><%=element.user.name %></span>
                </div>
            <% }); %>
        </section>
    <%}else{ %>
        <section>
            <a href="/logout">Log out</a>
            <h1>Home</h1>
            <%if(user.member === true){ %>
            <a href="/create">Create Post</a>
            <% } %>
            <%posts.forEach(element => { %>
                <div>
                    <a href="<%=element.url %>"><%=element.title %></a>
                    <p><%=element.message %></p>
                    <span>Sign in to see when this was posted</span>
                    <span>Sign in to see who posted</span>
                </div>
            <% }); %>
        </section>
    <%} %>
    
</body>
</html>