<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <%if(user){ %>
        <section>
            <h1>Members Only</h1>
            <h2>Welcome, <%=user.name %></h2>

            <%if(user){ %>
                <a class="page-links" href="/create">Create Post</a>
            <% } %>
            <%if(user.member === true){ %>
                
            <% } else{ %>
                <a class="page-links" href="/membership">Become a member</a>
                <a class="page-links" href="/admin">Become a admin</a>
            <%} %>
            <%posts.forEach(element => { %>
                <div class="home-page">
                    <a class="detail-links" href="<%=element.url %>"><%=element.title %></a>
                    <p><%=element.message %></p>
                    <%if(user.member === true || user.admin === true){ %>
                    <p><%=element.date_formatted %></p>
                    <span><%=element.user.name %></span>
                    <%} else{ %>
                        <p>Become a member to see when this was posted</p>
                        <span>Become a member to see who posted</span>
                    <%} %>
                </div>
            <% }); %>

            <a class="page-links log" href="/logout">Log out</a>
            <%-include("footer") %>
        </section>
    <%}else{ %>
        <section>
            <h1>Members Only</h1>
            <h2>Home</h2>
            <%posts.forEach(element => { %>
                <div class="home-page">
                    <a class="detail-links" href="<%=element.url %>"><%=element.title %></a>
                    <p><%=element.message %></p>
                    <p>Become a member to see when this was posted</p>
                    <span>Become a member to see who posted</span>
                </div>
            <% }); %>

            <a class="page-links log" href="/login">Log in</a>

            <%-include("footer") %>
        </section>
    <%} %>
    
</body>
</html>